::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{
	background-color:#ebebeb;
	font-family: 'Roboto', sans-serif;
}
/* 

			Header 

*/
#header-content {
	background-color:#2d88b9;
	width:100%;
	height:75px;
	position: relative;
}
.menu-item{
	text-decoration: none;
	display:inline-block;
	margin:13px;
	color:white;
	font-weight:550;
	font-size:14px;
	letter-spacing: 0.2px;
	margin-top:10px;
}
#header-content ul{
	list-style-type: none;
	float:right;
	display:block;
	margin-right:19%;
}
#header-content ul li{
	display:inline-block;
}
#header-content img#logo1 {
	width:195px;
	height:195px;
	margin-left:2%;
	margin-top:-60px;
}
#header-content img#logo2{
	display:none;
	margin-top:15px;
	margin-left:15px;
	position:absolute;
	background-color:red;
}
#header-content a:hover {
	color:#dfd2d0;
}
#header-content a.active {
	color:#dfd2d0;
}

/*
		Section

*/
article {
	width:100%;
	margin:0px;
}
#section-title {
	background-color:#f5f5f5;
	height:50px;
	width:100%;
	padding-top:20px;
	padding-bottom:29px;
}
.s-title {
	margin-left:19%;
	font-size:25px;
	position:relative;
	top:-10px;
}
#article-content {
	font-size:20px;
	width:100%;
	line-height:30px;
}


/* 

			Footer 

*/

#pre-footer-content {
	background-color:#222;
	width:100%;
	height:150px;
	text-align:left;
}
#pre-footer-content ul {
	list-style-type: none;
	margin-top:-20px;
	margin-left:10%;
}
#pre-footer-content p{
	color:#aaacaf;
	font-size:25px;
	font-weight: bolder;
	padding-top:15px;
	margin-left:10%;
	padding-left:40px;
}
#pre-footer-content li a.social {	
}
#pre-footer-content li {
	color:#aaacaf;
	font-size:17px;
}
#pre-footer-content a {
	text-decoration:none;
	color:#aaacaf;
}
#footer-content{
	background-color:#1b1b1b;
	width:100%;
	text-align:center;
}
#footer-content p{
	font-size:15px;
	display:inline-block;
	color:#575a60;
}


html,body {
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
	overflow-x: hidden;
}


                 /* SECTIONS */

           /* ABOUT ABOUT ABOUT */
           


.p-distance {
	margin-top:-20px;
}
#top-about {
	width:600px;
	font-size:20px;
	margin-left:19%;
}
.false-h1{
	font-size:35px;
	margin-bottom:40px;
}
#body-about {
	width:750px;
	margin:auto;
	margin-top:200px;
	font-size:18px;
}
#data-about {
	width:950px;
	margin:auto;
	margin-top:60px;
	margin-bottom:200px;
	text-aling:center;
}
#data-about img {
	width:170px;
	height:160px;
	padding-left:55px;
}
#trust-us {
	margin:auto;
	margin-bottom:10%;
	width:1200px;
}
#trust-us img{
	width:100%;
	height:700px;
	margin:auto;
}

         /*     INDEX INDEX INDEX */

#main-wrapper {
	width:100%;
	height:700px;
	text-align:center;
}
#main-wrapper img{
	width:100%;
	height:100%;
	display:block;
}
#under-wrapper {
	width:100%;
	height:30%;
	text-align:center;
	margin-top:5%;
	margin-bottom:5%;
}
#under-wrapper img{
	width:400px;
}
#center-image{
	margin-left:7%;
	margin-right:7%;
}
#main-wrapper img#banner2 {
	display:none; 
	/*hola*/
}

		/* NUESTROS TRABAJOS */

#work-main-wrapper {
	text-align:center;
}
#work-main-wrapper img {
	width:300px;
	height:200px;
	margin-left:20px;
	margin-top:10px;
}




/* Media queryes */
@media screen and (max-width:1416px) {
 	#under-wrapper img#center-image{
		margin-left:3%;
		margin-right:3%;
	}
}
@media screen and (max-width:1305px){
	div#work-main-wrapper div{
		width:900px;
		margin:auto;
	}
}
@media screen and (max-width:1298px){
	#right-image {
		margin-top:60px;
		margin-right:4%;
	}
	#under-wrapper img#center-image{
		margin-left:10%;
		margin-right:4%;
	}
}
@media screen and (max-width:1217px){
	#trust-us {
		width:100%;
	}
	#trust-us img{
		width:100%;
		height:600px;
	}
	#pre-footer-content ul{
		margin-left:10%;
	}
	#pre-footer-content p{
		margin-left:10%;
	}
	#main-wrapper img{
		height:90%;
	}
	#main-wrapper {
		height:600px;
	}
	#under-wrapper {
		margin-top:-30px;
	}
}
@media screen and (max-width:1081px) {
	#header-content ul li#byebye {
		display:none;
	}
	#header-content ul{
		margin-right:5px;
		margin-left:0px;
	}
	#header-content img#logo1 {
		margin-left:0px;
		margin-right:0px;
	}
}
@media screen and (max-width:978px) {
	#data-about {
		width:100%;
		height:100px;
	}
	#data-about img {
		width:160px;
		height:140px;
		margin-top:40px;
	}
	#trust-us img{
		height:400px;
	}
	#right-image {
		margin-top:40px;
	}
}
@media screen and (max-width:946px){
	#under-wrapper img#center-image{
		margin-left:4%;
		margin-right:4%;
	}
}
@media screen and (max-width:885px)	{
	#data-about {
		height:200px;
	}
	#top-about{
		width:80%;
		margin-bottom:-50px;
		margin-left:10%;
	}
	#body-about {
		width:90%;
		margin-left:10%;
		margin-right:0.1%;
	}
	div#work-main-wrapper div{
		margin-left:-70px;
	}
}
@media screen and (max-width:884px)	{
	#right-image {
		margin-right:0;
	}
	#center-image {
		margin-top:40px;
	}
}
@media screen and (max-width:748px){
	div#work-main-wrapper div{
		margin-left:-100px;
	}
}
@media screen and (max-width:654px) { 
	#center-image {
		margin-top:40px;
	}
	#main-wrapper img#banner1 {
		display:none;
	}
	#main-wrapper img#banner2 {
		display:block;
	}
}
@media screen and (max-width:640px) { 
	#header-content img#logo1{
		display:none;
	}
	#header-content img#logo2{
		display:inline-block;
		width:50px;
		height:50px;
	}
}
@media screen and (max-width:446px){
		#data-about img {
			margin-left:-50px;
		}
		#data-about {
			padding-left:20px;
		}
		#trust-us img{
			height:400px;
		}
		#header-content ul {
			display:flex;
		}
		#under-wrapper img{
			width:90%;
		}
		#under-wrapper img#center-image{
			margin-left:0%;
			margin-right:0%;
		}
}
@media screen and (max-width:433px) {
	.menu-item{
		margin:4px;
		color:white;
		font-weight:550;
		font-size:14px;
		letter-spacing: 0.2px;
		margin-top:10px;
	}
	#header-content ul {
		display:flex;
		margin-left:0px;
		width:70%;
	}
	#header-content ul li#small1 {
		padding-right:20px;
	}
	#pre-footer-content p{
		margin-left:-10px;
	}
	#pre-footer-content ul {
		margin-left:-10px;
	}
	#main-wrapper{
		height:90%;
	}
	#main-wrapper img {
		position:relative;
		top:-10px;
	}
	#under-wrapper{
		margin-top:20px;
		margin-bottom:100px;

	}
	#under-wrapper img{
		width:80%;
	}
}
@media screen and (max-width:346px){
		#data-about img {
			width:110px;
			height:100px;
			margin-left:-30px;
		}
}
@media screen and (max-width:291px){
	#data-about img {
		margin-left:-40px;
	}
}
@media screen and (max-width:267px){
		#data-about{
			width:50%;
			height:500px;
		}
}