::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{	background-color:#ebebeb;
	font-family: 'Roboto', sans-serif;
}
/* 

			Header 

*/
#header-content {
	background-color:#2d88b9;
	width:100%;
	height:75px;
	position: relative;
}
.menu-item{
	text-decoration: none;
	display:inline-block;
	margin:13px;
	color:white;
	font-weight:550;
	font-size:14px;
	letter-spacing: 0.2px;
	margin-top:10px;
}
#header-content ul{
	list-style-type: none;
	float:right;
	display:block;
	margin-right:19%;
}
#header-content ul li{
	display:inline-block;
}
#header-content img#logo1 {
	width:195px;
	height:195px;
	margin-left:10%;
	margin-top:-60px;
}
#header-content img#logo2{
	display:none;
	margin-top:15px;
	margin-left:15px;
	position:absolute;
	background-color:red;
}
#header-content a:hover {
	color:#dfd2d0;
}
#header-content a.active {
	color:#dfd2d0;
}


/*
		Section

*/
article {
	width:100%;
	margin:0px;
}
#section-title {
	background-color:#f5f5f5;
	height:100px;
	width:100%;
	padding-top:20px;
	padding-bottom:29px;
}
#section-title p{
	margin-top:10px;
}
.s-title {
	margin-left:19%;
	font-size:25px;
}
#article-content {
	font-size:20px;
	width:100%;
	line-height:30px;
}


/* 

			Footer 

*/
#pre-footer-content {
	background-color:#222;
	width:100%;
	height:150px;
	text-align:left;
}
#pre-footer-content ul {
	list-style-type: none;
	margin-top:-20px;
	margin-left:10%;
}
#pre-footer-content p{
	color:#aaacaf;
	font-size:25px;
	font-weight: bolder;
	padding-top:15px;
	margin-left:10%;
	padding-left:40px;
}
#pre-footer-content li {
	color:#aaacaf;
	font-size:17px;
}
#pre-footer-content a {
	text-decoration:none;
	color:#aaacaf;
}
#footer-content{
	background-color:#1b1b1b;
	width:100%;
	height:50px;
	text-align:center;
	padding-top:10px;
}
#footer-content p{
	font-size:15px;
	display:inline-block;
	color:#575a60;
}
#footer-content p:first-child{
	margin-right:10px;
}



html,body {
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
	overflow-x: hidden;
}


                 /* SECTIONS */

           /* ABOUT ABOUT ABOUT */



.p-distance {
	margin-top:-20px;
}
#top-about {
	width:600px;
	font-size:20px;
	margin-left:19%;
}
.false-h1{
	font-size:35px;
	margin-bottom:40px;
	margin-top:30px;
}
#body-about {
	width:750px;
	margin:auto;
	margin-top:140px;
	font-size:18px;
	margin-bottom:100px;
}
#data-about {
	width:950px;
	margin:auto;
	margin-top:60px;
	margin-bottom:200px;
	text-aling:center;
}
#data-about img {
	width:170px;
	height:160px;
	padding-left:55px;
}
#trust-us {
	margin:auto;
	margin-bottom:10%;
	width:1200px;
}
#trust-us img{
	width:100%;
	height:700px;
	margin:auto;
}

         /*     INDEX INDEX INDEX */
article#index div.carousel {
	margin:auto;
	text-align:center;
}
article#index div.carousel-item img{
	width:100%;
	height:90vh;
	min-height:300px;
	margin:auto;
}
#hiddenOne {
	display:none;
}




		/* NUESTROS TRABAJOS */

#work-main-wrapper {
	position:relative;
	width:100%;
	margin-top:2%;
	margin-bottom:8%;
	display:flex;
	justify-content: center;
}
#work-main-wrapper img {
	margin-left:7px;
	margin-top:	10px;
}
.testing-hover{
	-webkit-transition: all 0.7s ease;
     transition: all 0.7s ease;
}
.testing-hover:hover{
	opacity:0.7;
	filter: alpha(opacity=60);
}
#five-works {
	margin-left:9%;
	width:80%;
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
}


/* nuestros trabajos páginass  */

#work-page-title {
	margin-top:1%;
	font-size:30px;
	margin-bottom:2%;
	margin:auto;
	text-align:center;
	color:#2d88b9;
}
div#work-page {
	text-align:left;
	width:60%;
	min-height:200px;
	margin:auto;
}
div#work-page p{
	font-size:100%;
	width:100%;
}
article.events div.carousel {
	margin:auto;
	text-align:center;
}
article.events div.carousel-item img{
	width:70%;
	height:90vh;
	min-height:300px;
	margin:auto;
}
.carousel-control-next-icon{
	position:absolute;
	left:-10vh;
	filter: drop-shadow(2px 3px  1px black);
}
.carousel-control-prev-icon{
	position:absolute;
	right:-10vh;
	filter: drop-shadow(2px 3px  1px black);
}





/*special*/

#header-content #small1{
	color:white;
 	position: relative;
}

#header-content #small1:hover{
    text-decoration:line-through;
    text-decoration-color:white;

}























/* Media queryes */
@media screen and (max-width:1416px) {
	#five-works {
		margin-left:12%;
		width:100%;
	}
}
@media screen and (max-width:1400px){
	#main-wrapper img{
		height:90%;
	}
	#main-wrapper {
		height:600px;
	}
}
@media screen and (max-width:1217px){
	#trust-us {
		width:100%;
	}
	#trust-us img{
		width:100%;
		height:600px;
	}
	#pre-footer-content ul{
		margin-left:10%;
	}
	#pre-footer-content p{
		margin-left:10%;
	}
	#main-wrapper img{
		height:90%;
	}
	#main-wrapper {
		height:600px;
	}
}
@media screen and (max-width:1155px){
	#five-works {
		width:100%;
		margin-left:20%;
}
@media screen and (max-width:1081px) {
	#header-content ul li#byebye {
		display:none;
	}
	#header-content ul{
		margin-right:5px;
		margin-left:0px;
	}
	#header-content img#logo1 {
		margin-left:0px;
		margin-right:0px;
	}
	article.events div.carousel-item img{
		width:100%;
	}
	.carousel-control-next-icon{
		left:10vh;
	}
	.carousel-control-prev-icon{
		right:10vh;
	}
	div#work-page {
		width:80%;
	}
}
@media screen and (max-width:978px) {
	#data-about {
		width:100%;
		height:100px;
	}
	#data-about img {
		width:160px;
		height:140px;
		margin-top:40px;
	}
	#trust-us img{
		height:400px;
	}
	#five-works{
		margin-left:16%;
	}
}
@media screen and (max-width:885px)	{
	#data-about {
		height:200px;
	}
	#top-about{
		width:80%;
		margin-bottom:-50px;
		margin-left:10%;
	}
	#body-about {
		width:90%;
		margin-left:10%;
		margin-right:0.1%;
	}

	#five-works{
		margin-left:12%;
	}
	.s-title {
		margin-left:10%;
	}
}
@media screen and (max-width:774px)	{
	#five-works {
		margin-left:5%;
	}
	article.events div.carousel-item img{
		height:60vh;
		min-height:300px;

	}	
}	
@media screen and (max-width:748px){
	div#work-main-wrapper div{
		margin-left:2%;
	}
	.carousel-control-next-icon{
		left:0vh;
	}
	.carousel-control-prev-icon{
		right:0vh;
	}

}
@media screen and (max-width:696px){
	#five-works {
		position:relative;
		left:20%;
	}
}
@media screen and (max-width:654px) { 
	#center-image {
		margin-top:40px;
	}
	#hiddenOne {
		display:block;
	}
	#showingOne{
		display:none;
	}
}
@media screen and (max-width:640px) { 
	#header-content img#logo1{
		display:none;
	}
	#header-content img#logo2{
		display:inline-block;
		width:50px;
		height:50px;
	}
	div#work-page {
		width:95%;
	}
}
@media screen and (max-width:522px){
	#five-works{
		left:15%;
	}
	article.events div.carousel-item img{
		height:40vh;
	}
}
@media screen and (max-width:455px){
	#header-content ul {
			display:flex;
			justify-content:space-around;
			flex-wrap: nowrap;
			width:350px;
		}
}
@media screen and (max-width:446px){
		#data-about img {
			margin-left:-50px;
		}
		#data-about {
			padding-left:20px;
		}
		#trust-us img{
			height:400px;
		}

}
@media screen and (max-width:433px) {
	.menu-item{
		margin:4px;
		color:white;
		font-weight:550;
		font-size:14px;
		letter-spacing: 0.2px;
		margin-top:10px;
	}
	#header-content ul {
		display:flex;
		margin-left:0px;
		width:70%;
	}
	#header-content ul li#small1 {
		padding-right:20px;
	}
	#pre-footer-content p{
		margin-left:-10px;
	}
	#pre-footer-content ul {
		margin-left:-10px;
	}
	#main-wrapper{
		height:90%;
	}
	#main-wrapper img {
		position:relative;
		top:-10px;
	}
	#five-works {
		position:relative;
		left:6%;
	}
	article#index div.carousel{
		position:relative;
		top:-12px;
	}
	article#index .carousel-item{
		height:87vh;
	}
	
}
@media screen and (max-width:346px){
		#data-about img {
			width:110px;
			height:100px;
			margin-left:-30px;
		}
}
@media screen and (max-width:375px){
	#five-works{
		left:-5px;
	}
}	
@media screen and (max-width:291px){
	#data-about img {
		margin-left:-40px;
	}
}
@media screen and (max-width:267px){
		#data-about{
			width:50%;
			height:500px;
		}
}